.about__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  width: 300px;
  max-width: 100vw;
  border: #fecd00 5px solid;
}

@media screen and (min-width: 320px) and (max-width: 900px){
  .about__image {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    padding: 0;
    margin: 0 auto;
  }
}