.about {
    padding-top: 70px;
    margin: 0px 40px 0px 40px;
    align-content: center;
}

.about__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 30px;
    max-width: 80vw;
    padding-top: 40px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.about__image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    width: 300px;
    max-width: 100vw;
    border: #fecd00 5px solid;
}

.about__header2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  margin-top: 10px;
  font-family: Monaco, monospace;
}

.about__header3 {
    margin: 0;
    padding-left: 50px;
    font-size: 20px;
    font-family: Monaco, monospace;
    position: relative;
  }

  .about__header3:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: linear-gradient(135deg, wheat 0,#fecd00 100%);
  }

.about__texts {
    max-width: 800px;
}


.about__paragraph {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: justify;
}

.about__link {
    cursor: pointer;
    color: #007bff;
    text-decoration-line: underline;
}

.about__link:hover {
    opacity: 0.4;
    transition: 0.8s;
}


.about__list {
    font-size: large;
    padding: 0;
}

.about__list-box {
    margin-top: 40px;
}

.about__list-header {
    margin-bottom: 5px;
}

.about__list-items {
    list-style-type: none;
    padding-left: 2rem;
    background-image: url(https://github.com/Pavel-174/my-portfolio/blob/master/src/images/Checkmark.png?raw=true);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
    line-height: 2;
}

@media screen and (min-width: 320px) and (max-width: 900px){
    .about__content {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .about img {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        padding: 0;
        margin: 0 auto;
        border: 2px 

    }

    .about__texts{
        padding: 40px 20px 0 20px;
    }

    .about__headers{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__list {
        font-size: 11px;
        padding-bottom: 6px;
    }

    .about__list-items {
        padding-left: 2rem;
        background-size: 20px 20px;
    }
    
    .about__header2 {
        text-align: center;
    }

    .about__header3 {
        text-align: center;
        padding-left: 0;
    }

    .about__header3::before {
        left: -46%;
    }
}