.contacts {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 40px 40px;
    max-width: 100vw;
    padding-top: 70px;
  }

  .contacts__header2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-top: 10px;
    font-family: Monaco, monospace;
    margin-bottom: 30px;
  }
      
  .contacts__header3 {
    margin: 0;
    padding-left: 50px;
    font-size: 20px;
    font-family: Monaco, monospace;
    position: relative;
  }
  
  .contacts__header3:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: linear-gradient(135deg, wheat 0,#fecd00 100%);
  }

  .contacts__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .contacts__image-link {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px;
    margin-top: 50px;
  }

  .contacts__button {
    margin: 30px 0 0 0;
    padding: 0;
    width: 180px;
    height: 50px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(135deg, wheat 0,#fecd00 100%);
    color: black;
    cursor: pointer;
}

.contacts__info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #fecd00 2px solid;
  min-width: 320px;
  min-height: 320px;
}

.contacts__frame {
  margin-top: 10px;
  border: #fecd00 2px solid;
}

.contacts__photo {
  max-width: 320px;
  max-height: 320px;
  border: #fecd00 2px solid;
}

.contacts__header4 {
  margin-top: 40px;
}

@media screen and (min-width: 650px) and (max-width: 999px){

  .contacts__photo {
    display: none
  }

  .contacts__headers{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__header2 {
    text-align: center;
}

.contacts__header3 {
    text-align: center;
    padding-left: 0;
}

.contacts__header3::before {
    left: -46%;
}
}

@media screen and (min-width: 320px) and (max-width: 650px){

  .contacts__content {
    flex-direction: column;
  }  

  .contacts__photo {
    display: none
  }

  .contacts__headers{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__header2 {
    text-align: center;
}

.contacts__header3 {
    text-align: center;
    padding-left: 0;
}

.contacts__header3::before {
    left: -46%;
}
}