.portfolio__button {
  margin: 40px 0 0 0;
  padding: 0;
  width: 180px;
  height: 50px;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(135deg, wheat 0,#fecd00 100%);
  color: black;
  cursor: pointer;
  animation: fade-in 0.7s ease-in-out;
  font-family: Play, Arial, Helvetica, sans-serif;
}

.portfolio__button:hover {
  opacity: 0.4;
  transition: 0.8s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}