.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.4s;
}

.menu.active {
  transform: translateX(0);
}

.blur {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;
  left: 30%;
}

.menu__content {
  width: 30%;
  height: 100%;
  background-color: #0bd5e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s;
}

.menu__header {
  font-size: 2rem;
  color: black;
  padding: 10px;
  border-bottom: 5px solid #fecd00;
  width: 100%;
  text-align: center;
}

.menu__list-link {
  color: black;
  text-decoration: none;
  font-size:1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu__list-link:hover{
   opacity: 0.4;
   transition: 0.8s;
}

.menu__list-item {
  display: flex;
  align-items: center;
}

.menu__list {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.material-icons {
  color: black;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .menu__content {
    width: 100%;
  }

  .blur {
    backdrop-filter: none;
  }    
}