.experience__header_2 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  margin-top: 10px;
  font-family: Play, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 900px){
  .experience__header_2 {
    text-align: center;
  }
}