.menu__header {
  font-size: 2.5rem;
  color: white;
  padding: 10px;
  border-bottom: 5px solid #fecd00;
  width: 100%;
  text-align: center;
  font-family: Play, Arial, Helvetica, sans-serif;
  padding: 0;
}