.navbar__btn {
  width: 20px;
  height: 19px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
  
.navbar__btn::after {
  content: ' ';
  position: absolute;
  bottom: 0px;
  width: 20px;
  background-color: black;
  height: 3px;
}
  
.navbar__btn span {
  content: ' ';
  position: absolute;
  top: 8px;
  width: 20px;
  background-color: black;
  height: 3px;
}
  
.navbar__btn::before {
  content: ' ';
  position: absolute;
  top: 0px;
  width: 20px;
  background-color: black;
  height: 3px;
}