.navbar__language-button {
  font-family: Play, Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0 15px 0 0 ;
  color: black;
  cursor: pointer;
}

.navbar__language-button:hover {
  opacity: 0.4;
  transition: 0.8s;
}