.experience__item {
  list-style-type: none;
  padding-left: 2rem;
  background-image: url(../../../images/Checkmark.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  line-height: 2;
  padding-bottom: 30px;
  max-width: 450px;
}

.experience__item:last-child {
  padding-bottom: 0;
}